.scrollable-textarea {
    white-space: pre;
    overflow-wrap: normal;
    overflow-x: scroll;
}

body {
    background-color: #fefefe;
    background-image: url("/images/circuit.png");
    background-repeat: repeat-x, repeat-x;
}

a.nav-link.active {
    font-weight: bold;
}

.textarea-font {
    font-family: "Lucida Console", "Courier New", "Monaco", "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", monospace;
}